/* Webfont: Akkurat-LightItalic */@font-face {
    font-family: 'AkkuratLight';
    src: url('Akkurat-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('Akkurat-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Akkurat-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('Akkurat-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Akkurat-LightItalic.svg#Akkurat-LightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

