/* Webfont: Akkurat-Regular */@font-face {
    font-family: 'Akkurat';
    src: url('Akkurat-Regular.eot'); /* IE9 Compat Modes */
    src: url('Akkurat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Akkurat-Regular.woff') format('woff'), /* Modern Browsers */
         url('Akkurat-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Akkurat-Regular.svg#Akkurat-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

