/* Webfont: CircularStd-Black */@font-face {
    font-family: 'CircularStdBlack';
    src: url('CircularStd-Black.eot'); /* IE9 Compat Modes */
    src: url('CircularStd-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('CircularStd-Black.woff') format('woff'), /* Modern Browsers */
         url('CircularStd-Black.ttf') format('truetype'), /* Safari, Android, iOS */
         url('CircularStd-Black.svg#CircularStd-Black') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

